<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

    <div id="app" class="container">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input
                        type="text"
                        v-bind:value="inputValue"
                        v-on:input="inputChangeHandler"
                        v-bind:placeholder="placeholder"
                        v-on:keypress.enter="addNote"
                >
            </div>
            <button v-on:click="addNote" class="btn">Добавить</button>
            <hr/>
            <ul class="list" v-if="notes.length">
                <li class="list-item" v-for="(item, idx) in notes">
                    {{ idx + 1 }}: {{ item }}
                    <button v-on:click="removeNote(idx)" class="btn danger">Удалить</button>
                </li>
            </ul>
            <div v-else>Заметок пока нет.</div>
        </div>
    </div>

   <script src="https://unpkg.com/vue@next"></script>
   <script src="app.js"></script>
  </body>
</html>
